name: touch_indicator
description: Show up to 5 touch indicators where you touch the screen. Useful when giving a demo for an audience or when recording your app.
version: 1.0.3
homepage: https://github.com/mardaneus86/touch_indicator

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.4.0
